body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #fff;
  color: #2B2B2B;
}

.container {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}


.getstarted-btn{
  background-color: #2B2B2B;
  border-radius: 20px;
  color: white;
  border-style: none;
  padding: 0.6em 1.4em;
  border: 1px solid #D4D4D4;
}
a{
  color: #D4D4D4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
}

